<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag image_path('favicon.png') %>
    <title>Connect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="navbar">
        <div class="navbar-brand">
          <%= link_to root_path do %>
            <%= image_tag('logo.png', width: '100') %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to "#{current_user.username}", edit_user_registration_path, class: 'btn btn-info' %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main class="container">
        <% if flash[ :notice] %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>
        <% if flash[ :alert]%>
          <div class="alert alert-success" role="alert">
            <%= alert %>
          </div>
        <% end %>
      <%= yield %>
    </main>
    <footer></footer>
  </body>
</html>
