<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <div class="container-fluid">
    <nav class="navbar">
      <div class="navbar-brand">
        <%= link_to new_post_path do %>
          <%= image_tag('logo.png', width: '100') %>
        <% end %>
      </div>
      <ul class="navbar-nav">
        <%= link_to  %>
      </ul>
    </nav>
  </header>
    <main>
      <%= yield %>
    </main>
    <footer></footer>

    <% if flash[ :notice] %>
      <%= notice %>
    <% end %>
    <% if flash[ :alert]%>
      <%= alert %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to current_user.username, edit_user_registration_path, class: 'btn btn-info' %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path %>
    <% end %>
    
  </body>
</html>
